body{
    margin:auto;
    margin-top: 0;
}
.header{
    box-shadow: 0 2px 10px 0 #0000006b ;
    padding-top:  20px;
    position: relative;
}
.nav_bar{
    padding-bottom: 30px;
    width: 900px;
    margin: auto;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}
.nav_bar  div,span{
    /*display: inline-block;*/
}
.logo>a{
    width:auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo>a:hover{
    text-decoration: none;
}
.logo_png>img{
    height:90px;
    width:85px;
}

.logo_text h1{
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: Trebuchet MS, sans-serif;
    color: #2faafc;
    font-size: 48px;
    font-weight: bold;

}

.login_table{
    float: right;
    text-align: left;
}
.login_table h4{
    padding: 0;
    margin: 0;
    font-family: Trebuchet MS;
    font-weight: normal;
    font-size: 12px;

}
.username,.password{
    /*margin-right: 5px;*/
    margin-bottom: 5px;
}
.form-inline{

    width:350px;
    //display: flex;
    flex:1 1 auto;
    align-items: center;
    justify-content: space-between;
}
.remember_me{
    color:#00000091;
}
.content_image{
    text-align: center;
    color: black;
}
.content_image>img{
    /*margin-top:20px;*/
    width: 1288px;
    z-index:-1;
}


.registration {
    width: 500px;
    background-color: #00000045;
    box-shadow: 3px 3px 10px #000000a8;
    padding: 10px;
    position: absolute;
    top: 250px;
    left: 52%;
}
.registration>h1{
    font-family: 'Proxima Nova Soft','Helvetica Neue',sans-serif, sans-serif;
    //font-weight: bold;
    color:#000000ad

}
.footer{
    z-index: 2;
    position: absolute;
    background-color: inherit;
    height: 80px;
    width: 100%;
    box-shadow: 0px -1px 12px #0000006b;
    text-align: center;
}
.footer h4{
    margin: 34px;
    font-family: Open Sans, sans-serif;
    font-size: 16px;
}
.gender>.input-group-text{
    border: 0px;
    color:inherit;
    font-size: 14px;
}
.gender-container {
    margin-left: 4px;
    margin-top: 21px;
    color: #0000009c;
}
 .form-inline .username .form-control, .form-inline .password .form-control {
    display: inline-block;
    width: 170px;
    vertical-align: middle;
}
#remember_me_login{
    //display: flex;
    flex: 1 1 auto;
    align-items: center;
    justify-content: space-between;
}
.remember_me{
    margin-left: 5px;
}
.login_button{
    margin-right: 5px;
}
.input-group > .form-control:not(:first-child), .input-group > .custom-select:not(:first-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
}
nav{
    width: 900px;
    background-color: white;
    padding-left: 0px;
    padding-right: 0px;
}
nav ul{
    flex: 1 1 auto;
    justify-content: space-around;
}
.logo{
    margin-right: 120px;
}
.logout{
    margin-left: 50px;
    margin-top: 5px;
}
.navbar-toggler{
    margin-top: 10px;
    
}

.dashboard{
   
    padding: 50px;
    padding-left: 200px;
    padding-right: 200px;
    margin: 50px;
}
.info{
    border: solid 1px #e6e6e6;
    height: 80px;
    width: 300px;
    padding: 20px;
    padding-top: 30px;
    background-color: white;
    box-shadow: 1px 1px 4px 0px #00000047;
}
.add_button{
    border-radius: 100%;
    position: relative;
    height: 50px;
    width: 50px;
    z-index: 5;
    border: solid 1px #bbbaba;
    /* padding: 6px; */
    padding-left: 15.2px;
    font-size: 31px;
    font-weight: bold;
    background-color: white;
    top: -1.05rem;
    right: -3.95rem;
    /* padding-bottom: 12px; */
    color: #948f8f;
    box-shadow: 1px 1px 5px 0px #0000001c;
}
.add_button:hover{
    background-color: #2faafc;
    color: #f5f2f2;
}

.vertical_line{
    background-color: #c4e3fd;
    height: 26.5rem;
    width: 0.0625rem;
    border: none;
    /*margin-top: 3rem;*/
    margin-left: 1.4375rem;
    position: relative;
}

.arrow_container{
    margin-top: -393px;
}

.arrow_traingle1{
    padding: 0;
    width: 0;
    height: 0;
    border-top: 0.625rem solid transparent;
    border-bottom: 0.625rem solid transparent;
    border-right: 0.9375rem solid;
    color: #30a9fb7d;
    padding-left: 9px;
}
.arrow_triangle2{
    padding: 0;
    width: 0;
    height: 0;
    border-top: 0.5625rem solid transparent;
    border-bottom: 0.5625rem solid transparent;
    border-right: 0.84375rem solid;
    color: #fefefe;
    position: relative;
    top: -1.1875rem;
    padding-left: 9px;
    left: 0.125rem;
}

.info_input{
    height: 400px;
    border: solid 1px #e6e6e6;    
    box-shadow: 1px 1px 4px 0px #00000047;
}
